@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.firstmsg {
  animation: firstmsgan 5s infinite ease-in-out;
}

@keyframes firstmsgan {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
    transform: translateX(10px);
  }
}
